<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: 'alert alert-success' %>
<% end %>
<h1>What's Your Bid?</h1>
<p><%= @item.name %></p>
<%= image_tag @item.picture.to_s %>

<% unless @bid.place_bid == 0.0 %>
  <p>Current Highest Bid: <%= number_to_currency(@highest_bid) %> By: <%= User.find(@bid.bidder_id).email %>
  <p>You must bid higher than current highest bid</p>
<% else %>
  <p>You're the first to bid on this item!</p>
  <p>You need to bid higher than the starting bid</p>
<% end %>

<%= render 'form'%>
