<%= form_for @item, :html => {:multipart => true} do |f| %>
  <% if @item.errors.any? %>
    <div id='error_explanation'>
      <% @item.errors.full_messages.each do |msg| %>
        <ul><%= msg %> </ul>
      <% end%>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :start_bid %>
  <%= f.text_field :start_bid %>

  <%= f.label :end_day %>
  <%= f.text_field :end_day, type: "date" %>

  <%= f.label :picture %>
  <%= f.file_field :picture %>

  <%= f.submit class: 'btn btn-large btn-primary'%>
<% end %>
