<!DOCTYPE html>
<html>
<head>
  <title>NkuProject</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
<div id="signout"><%= link_to "Sign out", signout_path, class: "btn btn-large btn-primary", method: "delete" %></div>
<ul class="nav nav-tabs nav-justified">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
  <li><%= link_to "Sell Item", new_item_path %></li>
  <li><%= link_to "My Items for Sale", items_path %></li>
</ul>
<% else %>
<ul class="nav nav-tabs nav-justified">
  <li><%= link_to "Existing User? Sign in now!", signin_path %></li>
  <li><%= link_to "New User? Sign up now!", signup_path %>
</ul>
<% end %>
<p class='right'><%= current_user.first_name if current_user %> is signed in</p>

<%= yield %>

</body>
</html>
